<div class="panel panel-default devise-bs main-block">
  <div class="panel-heading text-center">
    <h4>Editing Tournament</h4>
  </div>
  <div class="panel-body">
    <%= render 'form', tournament: @tournament %>
    <div class="pull-right">
      <%= link_to 'Show', @tournament %> |
      <%= link_to 'Back', tournaments_path %>
    <div>
  </div>
</div>

